//main: style.scss

$breakpoints: (
    xxs: 480px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

@mixin min($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media (min-width: map-get($breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @media(min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin max($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media(max-width: map-get($breakpoints, $breakpoint) - 1) {
            @content;
        }
    } @else {
        @media(max-width: $breakpoint) {
            @content;
        }
    }
}

@mixin sectionHeader() {
    padding: 16px 20px;
    border-bottom: 1px solid var(--line);
    @include max(xxs) {
        padding: 12px;
    }
}

@mixin sectionFooter() {
    padding: 16px 20px;
    border-top: 1px solid var(--line);
    @include max(xxs) {
        padding: 12px;
    }
}

@mixin label {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-dark);
    display: block;
}
