//main: style.scss

:root {

    --black: #1B1C28;
    --grey-dark: #3C3D55;
    --grey: #74768D;
    --grey-light: #9799B3;
    --grey-lighter: #CACDDF;
    --light: #DADCEC;
    --lighter: #EAECF8;
    --pale: #F8F9FF;

    --primary: #4886FF;
    --primary-dark: #3D77E9;
    --primary-shadow: rgba(72, 134, 255, .32);
    --primary-pale: #E2EBFF;

    --success: #0FC258;
    --success-pale: #D8F5E4;
    --error: #E14545;
    --error-pale: #FAE1E1;
    --warning: #E1BD29;
    --warning-pale: #FAF4DD;

    --text: var(--grey);
    --text-light: var(--grey-light);
    --text-lighter: var(--light);
    --text-dark: var(--grey-dark);

    --border-dark: var(--grey-light);
    --border: var(--grey-lighter);
    --line: var(--light);

    --shadow: rgba(27, 28, 40, .12);
    --shadow-dark: rgba(27, 28, 40, .2);

    --border-radius: 3px;

    --sidebar-width: 260px;

    @include max(xs) {
        --sidebar-width: 220px;
    }

}
