//main: ../style.scss

.accordion {
    background: var(--pale-light);
    .box {
        background: #fff;
        transition: box-shadow .4s ease, color .4s ease;
        border: 1px solid var(--line);
        border-left: 0;
        border-right: 0;
        margin: 16px -20px;
        transition: box-shadow .4s ease;
        @include max(xs) {
            margin: 12px -20px;
            &:last-child {
                margin-bottom: 16px;
            }
        }
        @include max(xxs) {
            margin: 8px -12px;
            &:last-child {
                margin-bottom: 12px;
            }
        }
        &:first-child {
            margin-top: 0;
        }
        & > div {
            &:first-child {
                position: relative;
                cursor: pointer;
                padding: 8px 20px;
                font-weight: 500;
                transition: color .4s ease, padding .4s ease;
                @include max(xxs) {
                    padding: 8px 12px;
                }
                & > span {
                    --y: 0;
                    width: 24px;
                    height: 24px;
                    display: block;
                    position: absolute;
                    z-index: 1;
                    top: 9px;
                    right: 20px;
                    cursor: pointer;
                    transition: transform .4s ease;
                    transform: translateY(var(--y));
                    @include max(xxs) {
                        right: 12px;
                    }
                    &:before,
                    &:after {
                        --r: 0deg;
                        content: '';
                        width: 2px;
                        height: 8px;
                        border-radius: 1px;
                        background: var(--text);
                        position: absolute;
                        right: 8px;
                        top: 7px;
                        transform-origin: 50% 50%;
                        transition: transform .3s ease, background .3s ease;
                        transform: scale(.92, .8) rotate(var(--r));
                    }
                    &:before {
                        margin-right: 5px;
                        --r: -50deg;
                    }
                    &:after {
                        --r: 50deg;
                    }
                    &:hover {
                        &:before,
                        &:after {
                            background: var(--text-light);
                        }
                    }
                }
            }
            &:last-child {
                padding: 0 20px 16px 20px;
                display: none;
                @include max(xxs) {
                    padding: 0 12px 20px 12px;
                }
            }
        }
        &:hover {
            box-shadow: 0 1px 4px -1px var(--shadow-dark);
            & > div {
                &:first-child {
                    color: var(--text-dark);
                }
            }
        }
        &.expand {
            & > div {
                &:first-child {
                    padding: 16px 20px;
                    @include max(xxs) {
                        padding: 12px;
                    }
                    & > span {
                        --y: 7px;
                        @include max(xxs) {
                            --y: 4px;
                        }
                    }
                }
            }
        }
        &.active {
            box-shadow: 0 1px 4px -1px var(--shadow);
            & > div {
                &:first-child {
                    color: var(--primary);
                    & > span {
                        &:before {
                            --r: -130deg;
                        }
                        &:after {
                            --r: 130deg;
                        }
                    }
                }
            }
        }
    }
}
