//main: ../style.scss

@mixin button-reset {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    position: relative;
    white-space: nowrap;
    border: none;
}

.btn {
    --color: #fff;
    --background: var(--primary);
    --shadow-c: var(--primary-shadow);
    --shadow-blur: 8px;
    padding: 12px 24px;
    font-size: 16px;
    line-height: 23px;
    font-weight: 500;
    background: var(--background);
    color: var(--color);
    border-radius: var(--border-radius);
    box-shadow: 0 4px var(--shadow-blur) var(--shadow-c);
    transition: color .3s ease, background .3s ease, box-shadow .3s ease;
    @include button-reset;
    &:link,
    &:active,
    &:visited,
    &:focus {
        --color: #fff;
    }
    &:hover {
        --background: var(--primary-dark);
        --shadow-blur: 16px;
    }
    svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: top;
        margin-top: 2px;
        position: relative;
        left: -4px;
    }
    &.outline {
        --color: var(--background);
        --outline: var(--background);
        background: none;
        box-shadow: none;
        &:before {
            content: '';
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;
            z-index: 0;
            border-radius: inherit;
            transition: opacity .3s ease;
            opacity: .75;
            border: 1px solid var(--outline);
        }
        &:hover,
        &:active {
            &:before {
                opacity: 1;
            }
        }
    }
    &.danger {
        --background: var(--error);
        --shadow-c: var(--error-shadow);
    }
    &.muted {
        --background: var(--lighter);
        --color: var(--text);
        --shadow-c: none;
        &:hover {
            --background: var(--light);
        }
        &.outline {
            --color: var(--text);
            --outline: var(--border);
            &:hover {
                background: var(--pale);
            }
        }
    }
    &.disabled {
        --background: var(--pale);
        --color: var(--text-light);
        cursor: not-allowed;
        box-shadow: none;
    }
    &.link {
        --background: none;
        --color: var(--primary);
        box-shadow: none;
    }
    &.sm {
        font-size: 14px;
        padding: 6px 16px;
        svg {
            width: 16px;
            height: 16px;
            margin-top: 4px;
            left: -3px;
        }
    }
    &.icon {
        padding: 12px;
        svg {
            left: auto;
            right: auto;
            display: block;
            width: 23px;
            margin: 0;
            height: 23px;
        }
        &.sm {
            padding: 6px;
            svg {
                width: 19px;
                margin: 2px;
                height: 19px;
            }
        }
    }
    &.icon-right {
        svg {
            left: auto;
            right: -4px;
        }
        &.sm {
            svg {
                left: auto;
                right: -3px;
            }
        }
    }
    &.center {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }
    &.block {
        display: block;
        width: 100%;
    }
}
