//main: ../style.scss

.table {
    .dataTable {
        .toolbar {
            @include sectionArea;
            .dataTables_length {
                @include max(xs) {
                    display: none;
                }
                label {
                    @include label;
                    display: flex;
                    align-items: center;
                    .form-select {
                        margin: 0 12px;
                    }
                }
            }
            .dataTables_filter {
                label {
                    @include label;
                    display: flex;
                    align-items: center;
                    .form-field {
                        margin-left: 12px;
                    }
                }
            }
        }
        .paginate {
            @include sectionArea;
            .dataTables_info {
                @include label;
                color: var(--text);
                @include max(xs) {
                    margin-bottom: 8px;
                }
            }
            .dataTables_paginate {
                display: flex;
                @include max(xs) {
                    display: grid;
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    grid-gap: 8px;
                }
                a {
                    @include button-reset;
                    font-size: 14px;
                    line-height: 23px;
                    padding: 6px 16px;
                    font-weight: 500;
                    border-radius: var(--border-radius);
                    transition: color .3s ease, background .3s ease;
                    background: var(--primary);
                    color: #fff;
                    cursor: pointer;
                    box-shadow: 0 4px 8px var(--primary-shadow);
                    &:hover {
                        &:not(.disabled) {
                            background: var(--primary-dark);
                            box-shadow: 0 4px 16px var(--primary-shadow);
                        }
                    }
                    svg {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        margin-top: 4px;
                        left: -3px;
                        vertical-align: top;
                        position: relative;
                    }
                    &.disabled {
                        cursor: not-allowed;
                        box-shadow: none;
                        background: var(--lighter);
                        color: var(--text);
                    }
                    &:not(:last-child) {
                        margin-right: 12px;
                    }
                }
            }
        }
        .toolbar,
        .paginate {
            @include min(xxs) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
    table {
        --th-width: 50%;
        width: 100% !important;
        &.th-small {
            --th-width: 30%;
        }
        &.th-medium {
            --th-width: 40%;
        }
        &.font-small {
            font-size: 14px;
        }
        th,
        td {
            padding-left: 20px;
            padding-right: 20px;
            @include max(xxs) {
                padding-left: 12px;
                padding-right: 12px;
            }
        }
        thead {
            @include max(xs) {
                display: none;
            }
            th {
                background: var(--pale-light);
                border-bottom: 1px solid var(--line);
                padding-top: 8px;
                padding-bottom: 8px;
                text-transform: uppercase;
                font-size: 12px;
                line-height: 14px;
                font-weight: 500;
                color: var(--text-light);
                outline: none;
                &.sorting,
                &.sorting_asc,
                &.sorting_desc {
                    cursor: pointer;
                }
            }
        }
        tfoot {
            tr {
                td {
                    border-top: 1px solid var(--line);
                    background: var(--pale);
                    &[data-th] {
                        &:not(:first-child) {
                            @include max(xs) {
                                border-top: 0;
                            }
                        }
                    }
                }
            }
        }
        tbody,
        tfoot {
            tr {
                th,
                td {
                    padding-top: 8px;
                    padding-bottom: 8px;
                    vertical-align: middle;
                    &:last-child {
                        @include max(xs) {
                            border-bottom: 1px solid var(--line);
                        }
                    }
                    @include min(xs) {
                        border-bottom: 1px solid var(--line);
                    }
                    @include max(xs) {
                        font-size: 14px;
                        display: block;
                        padding-top: 4px;
                        line-height: 18px;
                        padding-bottom: 4px;
                        &:first-child {
                            padding-top: 12px;
                        }
                        &:last-child {
                            padding-bottom: 12px;
                        }
                    }
                }
                td {
                    &[data-th] {
                        @include max(xs) {
                            position: relative;
                            padding-left: var(--th-width);
                            &:before {
                                content: attr(data-th);
                                position: absolute;
                                text-transform: uppercase;
                                font-size: 12px;
                                font-weight: 500;
                                color: var(--text-light);
                                left: 20px;
                                max-width: var(--th-width);
                                top: 4px;
                                line-height: 18px;
                                @include max(xxs) {
                                    left: 12px;
                                }
                            }
                            &:first-child {
                                &:before {
                                    top: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                td {
                    &[colspan] {
                        .message {
                            margin: 8px 0;
                        }
                    }
                    &.strong {
                        color: var(--text-dark);
                        font-weight: 500;
                    }
                }
                th {
                    font-weight: 500;
                    color: var(--text-dark);
                }
            }
        }
        &:last-child {
            &:not(.dataTable) {
                tfoot,
                tbody {
                    tr {
                        &:last-child {
                            th,
                            td {
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.list,
.table {
    .action-column {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:not(.right-xs) {
            @include max(xs) {
                justify-content: flex-start;
            }
        }
        & > * {
            &:not(:last-child) {
                margin-right: 12px;
            }
        }
        .icon-xxs {
            @include max(xxs) {
                padding: 6px;
                span {
                    display: none;
                }
                svg {
                    left: auto;
                    right: auto;
                    display: block;
                    width: 19px;
                    margin: 2px;
                    height: 19px;
                }
            }
        }
    }
    footer {
        & > form {
            & > div {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                label {
                    display: flex;
                    align-items: center;
                    flex-grow: 1;
                    @include max(sm) {
                        flex: 0 0 100%;
                    }
                    span {
                        @include label;
                        display: block;
                        font-size: 14px;
                        white-space: nowrap;
                        margin-right: 12px;
                    }
                    .form-select {
                        flex-grow: 1;
                    }
                    &:not(:last-child) {
                        margin: 0 12px 0 0;
                        @include max(sm) {
                            margin: 0 0 8px 0;
                        }
                    }
                }
                button {
                    flex-shrink: 1;
                    @include max(sm) {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}
