//main: ../style.scss

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.5;
    font-family: inherit;
}

h1 {
    font-weight: normal;
    color: var(--text-dark);
    font-size: 32px;
    @include max(sm) {
        font-size: 24px;
    }
}

h2 {
    font-weight: normal;
    color: var(--text-dark);
    font-size: 22px;
    margin: 20px 0;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--border);
    @include max(sm) {
        margin: 16px 0;
        font-size: 20px;
    }
}

h3 {
    font-weight: normal;
    color: var(--text-dark);
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0;
    @include max(sm) {
        margin: 8px 0;
    }
}
