.body .adminlog {
    background-image: url(../images/content/table_icon_adminlog.png);
}

.body .debugger {
    background-image: url(../images/content/table_icon_debugger.png);
}

.body .diskusage {
    background-image: url(../images/content/table_icon_diskusage.png);
}

.body .doc {
    background-image: url(../images/content/table_icon_doc.png);
}

.body .domains {
    background-image: url(../images/content/table_icon_domains.png);
}

.body .email {
    background-image: url(../images/content/table_icon_email.png);
}

.body .errors {
    background-image: url(../images/content/table_icon_errors.png);
}

.body .flash {
    background-image: url(../images/content/table_icon_flash.png);
}

.body .ftp {
    background-image: url(../images/content/table_icon_ftp.png);
}

.body .general {
    background-image: url(../images/content/table_icon_general.png);
}

.body .hdd {
    background-image: url(../images/content/table_icon_hdd.png);
}

.body .htaccess {
    background-image: url(../images/content/table_icon_htaccess.png);
}

.body .ip {
    background-image: url(../images/content/table_icon_ip.png);
}

.body .layout {
    background-image: url(../images/content/table_icon_layout.png);
}

.body .maintenancemode {
    background-image: url(../images/content/table_icon_maintenancemode.png);
}

.body .multilanguage {
    background-image: url(../images/content/table_icon_multilanguage.png);
}

.body .no {
    background-image: url(../images/content/table_icon_no.png);
}

.body .password {
    background-image: url(../images/content/table_icon_password.png);
}

.body .serverstatus {
    background-image: url(../images/content/table_icon_serverstatus.png);
}

.body .hosting_plans {
    background-image: url(../images/content/table_icon_hosting_plans.png);
}

.body .settings {
    background-image: url(../images/content/table_icon_settings.png);
}

.body .sql {
    background-image: url(../images/content/table_icon_sql.png);
}

.body .stats {
    background-image: url(../images/content/table_icon_stats.png);
}

.body .support {
    background-image: url(../images/content/table_icon_support.png);
}

.body .profile {
    background-image: url(../images/content/table_icon_profile.png);
}

.body .systeminfo {
    background-image: url(../images/content/table_icon_systeminfo.png);
}

.body .tools {
    background-image: url(../images/content/table_icon_tools.png);
}

.body .traffic {
    background-image: url(../images/content/table_icon_traffic.png);
}

.body .update {
    background-image: url(../images/content/table_icon_update.png);
}

.body .user_blue {
    background-image: url(../images/content/table_icon_user_blue.png);
}

.body .user_green {
    background-image: url(../images/content/table_icon_user_green.png);
}

.body .user_yellow {
    background-image: url(../images/content/table_icon_user_yellow.png);
}

.body .user {
    background-image: url(../images/content/table_icon_user.png);
}

.body .users {
    background-image: url(../images/content/table_icon_users.png);
}

.body .users2 {
    background-image: url(../images/content/table_icon_users2.png);
}

.body .apps_installer {
    background-image: url(../images/content/table_icon_app_installer_cd_big.png);
}

.body .custom_link {
    background-image: url(../images/content/table_icon_custom_link.png);
}

.body .plugin {
    background-image: url(../images/content/table_icon_plugin.png);
}

/* Tables */
table {
    width: 100%;
    margin: 1em 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
}

table input,
table select,
table select[multiple],
table textarea,
table button {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

thead,
tfoot {
    border: 1px solid;
    font-weight: bold;
}

thead th,
tfoot td {
    padding: 0.5em;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;
}

tbody {
    border: 1px solid;
}

tbody td {
    padding: 5px 5px 3px 5px;
    height: 36px;
    vertical-align: middle;
    /*overflow: visible;*/
}

.firstColFixed td:first-child {
    width: 300px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
}

/* Hack to fix firefox's bad legend positioning */
@-moz-document url-prefix() { legend { top: -1.5em; }}
table .icon {
    float: none;
}

.radio {
    display: inline;
}

/* Icons */
.app_icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    height: 16px;
    line-height: 16px;
    display: -moz-inline-block;
    display: inline-block;
    margin: 0 -5px 0 5px;
}

.icon {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    display: -moz-inline-block;
    overflow: hidden;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    padding-left: 20px;
}

.icon.big {
    line-height: 44px;
    height: 44px;
    padding-left: 48px;
}

.icon:first-child {
    margin-right: 0;
}

.isp_logo {
    margin: 0 auto;
    text-align: center;
}

.body .icon_center {
    display: block;
    text-align: center;
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 46px;
    width: 46px;
    height: 46px;
    margin: 0.5em;
    cursor: pointer;
    *cursor: hand;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
    overflow-x: auto;
}

.dataTables_wrapper table {
    min-width: 100%;
    width: 100%;
    white-space: nowrap;
}

.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}

.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 0.5em;
}

th.sorting, th.sorting_asc, th.sorting_desc {
    cursor: pointer;
    *cursor: hand;
}

.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate, .paginator {
    float: right;
    text-align: right;
}

.paginate_button.previous.disabled, .paginate_button.previous,
.paginate_button.next.disabled, .paginate_button.next,
.paginator .icon
{
    float: left;
    cursor: pointer;
    display: inline-block;
}

.paginate_button.previous.disabled, .paginate_button.next.disabled {
    cursor: default;
}

.dataTables_info,
.dataTables_paginate {
    margin-bottom: 0.5em;
}

table.display {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

/* Graph */
.graph {
    position: relative;
    width: 100%;
    height: 20px;
    margin-bottom: 0.5em;
    padding-right: 2px;
    border: 1px solid #4e5554;
    background: #2e2e2e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.graph span {
    display: block;
    background: #33CC66;
    width: 0;
    height: 18px;
    margin: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.graph strong {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    color: rgb(255, 255, 255);
    line-height: 20px;
    width: 100%;
    text-align: center;
}

table .graph {
    width: 99%;
}

/*Ajax spinner */
.small-spinner {
    display: none;
    width: 16px;
    height: 16px;
    margin-left: 0.5em;
    vertical-align: middle;
}

/** Tooltips */
.ui-tooltip {
    border: 1px solid;
    opacity: 0.85;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 30%;
    word-wrap: break-word;
}
.ui-tooltip.ui-tooltip-notice {
    padding-left: 45px;
}
.ui-tooltip-content
{
    padding: 10px 5px;
    font-size: 0.90em;
    font-weight: bold;
    text-align: left;
}

.tips {
    cursor: pointer;
    *cursor: hand;
}

.icon.i_help {
    position: relative;
    width: 0;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    *cursor: hand;
}

/* Accordion */

.accordion .left {
    width: 35%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 13px;
}

.accordion .right {
    display: inline-block;
    vertical-align: middle;
}

.accordion .odd,
.accordion .even {
    width: 100%;
}

.ui-accordion .ui-accordion-content {
    padding: 0;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
