//main: ../style.scss

#content {
    min-height: 100vh;
    margin-left: 260px;
    border-radius: 16px 0 0 16px;
    background: var(--pale);
    padding: 32px 40px;
    .headline {
        & > ul {
            margin: 0 0 16px 0;
            padding: 0;
            list-style: none;
            display: flex;
            li {
                position: relative;
                a {
                    --color: var(--text-light);
                    line-height: 20px;
                    display: block;
                    svg {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        vertical-align: top;
                        margin: 2px 4px;
                    }
                }
                &:hover {
                    a {
                        --color: var(--text);
                    }
                }
                &:last-child {
                    a {
                        --color: var(--text-dark);
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
