//main: ../style.scss

.list {
    footer {
        .paginate {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
                &:not(:last-child) {
                    margin-right: 12px;
                }
            }
        }
    }
    .legend {
        background: var(--pale-light);
        border-bottom: 1px solid var(--line);
        @include max(sm) {
            display: none;
        }
        ul {
            margin: 0;
            padding: 8px 20px;
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr)) 160px;
            text-transform: uppercase;
            font-size: 12px;
            line-height: 14px;
            font-weight: 500;
            color: var(--text-light);
        }
    }
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        & > li {
            padding: 8px 20px;
            min-height: 51px;
            display: grid;
            align-items: center;
            grid-template-columns: repeat(3, minmax(0, 1fr)) 160px;
            border-bottom: 1px solid var(--line);
            @include max(xxs) {
                padding: 12px;
            }
            &.full {
                .message {
                    grid-column: 1 / 5;
                }
            }
            & > div {
                &:first-child {
                    color: var(--text-dark);
                }
            }
            .status {
                & > a,
                & > span {
                    display: table;
                    svg {
                        display: none;
                    }
                    &.i_ok {
                        color: var(--success);
                        .eva-checkmark-circle-2 {
                            display: block;
                        }
                    }
                    &.i_disabled {
                        color: var(--text-light);
                        .eva-close-circle {
                            display: block;
                        }
                    }
                    &.i_reload {
                        color: var(--text-light);
                        .eva-refresh {
                            display: block;
                        }
                    }
                    &.i_error {
                        color: var(--error);
                        .eva-alert-circle {
                            display: block;
                        }
                    }
                    &.alias {
                        color: var(--text-light);
                        .eva-globe {
                            display: block;
                        }
                    }
                }
            }
            .user {
                div {
                    color: var(--text-dark);
                    line-height: 24px;
                    .globe {
                        display: inline-block;
                        vertical-align: top;
                        margin: 4px 0 4px 2px;
                        svg {
                            display: block;
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }
        }
        &:last-child {
            & > li {
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
    &.clients {
        .legend {
            ul {
                grid-template-columns: 80px minmax(0, 1fr) 160px;
            }
        }
        & > ul {
            & > li {
                grid-template-columns: 80px minmax(0, 1fr) 160px;
                @include max(sm) {
                    grid-template-columns: minmax(0, 1fr) 160px;
                }
                @include max(xxs) {
                    grid-template-columns: minmax(0, 1fr) 100px;
                }
                .status {
                    @include max(sm) {
                        grid-column: 1;
                        grid-row: 1;
                    }
                    & > a,
                    & > span {
                        @include max(sm) {
                            display: inline-flex;
                            align-items: center;
                            justify-content: flex-start;
                            vertical-align: top;
                            svg {
                                width: 16px;
                                height: 16px;
                                margin-right: 4px;
                            }
                        }
                        strong {
                            font-weight: normal;
                            font-size: 14px;
                            display: block;
                            @include min(sm) {
                                display: none;
                            }
                        }
                    }
                    & > a {
                        strong {
                            color: var(--primary);
                        }
                    }
                }
                .user {
                    @include max(sm) {
                        grid-column: 1;
                        grid-row: 2;
                    }
                }
                & > div {
                    &:last-child {
                        @include max(sm) {
                            grid-column: 2;
                            grid-row: 1 / 3;
                        }
                    }
                }
            }
        }
    }
    &.adminlist {
        & > ul {
            & > li {
                @include max(sm) {
                    grid-template-columns: minmax(0, 1fr) 160px;
                }
                @include max(xxs) {
                    grid-template-columns: minmax(0, 1fr) 100px;
                }
                .username {
                    @include max(sm) {
                        line-height: 24px;
                    }
                    small {
                        display: block;
                        color: var(--text);
                        @include min(sm) {
                            display: none;
                        }
                    }
                }
                .created_by,
                .created_on {
                    @include max(sm) {
                        display: none;
                    }
                }
            }
        }
    }
}

#sql-list {
    --auto-grid-min-size: 280px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 32px;
    @include max(sm) {
        grid-gap: 24px;
    }
    @include max(xs) {
        grid-gap: 16px;
    }
    .box {
        background: #fff;
        border-radius: 4px;
        border: 1px solid var(--border);
        box-shadow: 0 1px 2px var(--shadow);
        padding: 20px;
        display: flex;
        flex-direction: column;
        h3 {
            margin: 0 0 12px 0;
        }
        & > ul {
            margin: 0 0 12px 0;
            padding: 0;
            list-style: none;
            font-size: 14px;
            li {
                position: relative;
                padding-right: 32px;
                .buttons {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding-left: 4px;
                    border-left: 1px solid var(--border);
                    a {
                        margin: 2px 0;
                        display: block;
                        svg {
                            width: 20px;
                            height: 20px;
                            display: block;
                        }
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 8px;
                }
                p {
                    margin: 0 0 4px 0;
                    display: flex;
                    justify-content: space-between;
                    strong,
                    & > span {
                        display: block;
                        span {
                            display: inline-block;
                            vertical-align: top;
                        }
                    }
                }
            }
        }
        & > .buttons {
            margin-top: auto;
            display: flex;
            justify-content: space-between;
        }
    }
}
