//main: ../style.scss

#overview-stats {
    --auto-grid-min-size: 220px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 32px;
    @include max(sm) {
        grid-gap: 24px;
    }
    @include max(xs) {
        grid-gap: 16px;
    }
    .box {
        padding: 8px 20px;
        background: #fff;
        border-radius: 4px;
        position: relative;
        border: 1px solid var(--line);
        box-shadow: 0 1px 2px var(--shadow);
        &:before {
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            bottom: -1px;
            width: 4px;
            border-radius: 4px 0 0 4px;
            background: var(--primary);
        }
        strong {
            display: block;
            color: var(--text-dark);
            font-weight: bold;
            font-size: 18px;
            line-height: 28px;
            svg {
                display: inline-block;
                width: 20px;
                height: 20px;
                vertical-align: top;
                margin: 4px 4px 4px 0;
            }
            small {
                font-weight: 500;
                vertical-align: bottom;
                font-size: 12px;
                line-height: 24px;
                display: inline-block;
                color: var(--text);
            }
            &.success {
                svg {
                    color: var(--success);
                }
            }
            &.error {
                svg {
                    color: var(--error);
                }
            }
        }
        span {
            display: block;
            font-size: 14px;
        }
    }
}
