//main: ../style.scss

#simple-form {
    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            --color: var(--text);
            display: block;
            line-height: 24px;
            font-size: 14px;
            svg {
                width: 18px;
                height: 18px;
                margin: 3px 0;
                display: inline-block;
                vertical-align: top;
            }
            &:hover {
                --color: var(--text-dark);
            }
        }
    }
}
